# Composer
composer.lock
# composer.phar
/vendor/
.phpunit.result.cache

# node/npm
/node_modules/
package-lock.json
mix-manifest.json

# onion-slice
dist/onion-slice/

# other
.DS_Store
Thumbs.db
.phpunit.result.cache
