# Composer
composer.lock
# composer.phar
/vendor/
.phpunit.result.cache

# node/npm
/node_modules/
package-lock.json
mix-manifest.json

# onion-slice
dist/onion-slice/
dist/onion-slice_files/
dist/onion-slice--web-tomte_files/

tests/testdata/htdocs/
tests/testdata/git-remote/
tests/testdata/web-server/
tests/testdata/web-tomte/
tests/testdata/memo.json
tests/testdata/onion_slice_env.json

# other
.DS_Store
Thumbs.db
.phpunit.result.cache
