# Composer
composer.lock
# composer.phar
/vendor/
.phpunit.result.cache

# node/npm
/node_modules/
package-lock.json
mix-manifest.json

# onion-slice
dist/onion-slice_files/
dist/onion-slice--waiter_files/

tests/testdata/htdocs/
tests/testdata/git-remote/
tests/testdata/web-server/
tests/testdata/web-front/
tests/testdata/memo.json

# other
.DS_Store
Thumbs.db
.phpunit.result.cache
