<phpunit>
	<testsuites>
		<testsuite name="resetdata">
			<file>./tests/resetdataTest.php</file>
		</testsuite>
		<testsuite name="default">
			<file>./tests/mainTest.php</file>
			<file>./tests/webTomteTest.php</file>
		</testsuite>
		<testsuite name="cleaning">
			<file>./tests/cleaningTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
