.directory-suggestion {
    max-height: 50vh;
    overflow: auto;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        padding: 1px;
    }
    button {
        display: block;
        border: none;
        width: 100%;
        text-align: left;
        background-color: transparent;
        color: #333;
        &:hover {
            background-color: #eee;
        }
        &:disabled {
            color: #999;
            background-color: #fff;
        }
    }
}